@import "../../styles/variables";

.cover {
  width: 100%;
  color: #fff;
  background-color: $default;

  &.small {
    background-color: $small;
  }

  &.smallpre {
    background-color: $smallpremium;
  }

  &.standard {
    background-color: $standard;
  }

  &.full {
    background-color: $full;
  }

  &.custom {
    height: 300px;
    background-color: $bilog-green;
  }

  &-container {
    padding: 80px 0 80px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
