@media only screen and (max-width: 750px) {
  .image-container {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    
    img {
      height: 280px;
      margin: 0 auto;
      vertical-align: middle;
    }
  }
}

@media only screen and (min-width: 751px) {
  .image-container {
    width: 50%;
    
    img {
      height: 400px;
      position: relative;
    }
  }
  :global(.feature-image.right .image-container img) {
    height: 400px;
    position: relative;
    right: 0;
  }
}