@import "../../../../../styles/variables";

.textfield-input {
  padding: 0 5px;
  border: none;
  border-bottom: 2px solid $bilog-blue-light;
  opacity: 1;
  font-weight: $fw-bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $bilog-black;
  cursor: pointer;
  max-width: 180px;
  height: 35px;
  font-size: $font-size-16;

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    height: 40px;
    font-size: $font-size-20;
    font-weight: $fw-regular;
  }

  &::placeholder {
    color: $bilog-gray;
    font-weight: 100;
    font-size: 16px;
  }
}
