@import "../../../../../styles/variables";

.textfield-input {
  padding: 0 5px;
  border: none;
  border-bottom: 3px solid $bilog-blue-light;
  opacity: 1;
  font-weight: $fw-bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $bilog-black;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .textfield-input {
    width: 160px;
    height: auto;
    font-size: $font-size-22;
  }
}

@media only screen and (min-width: 751px) {
  .textfield-input {
    max-width: 180px;
    margin: 25px 0;
    height: 35px;
    font-size: $font-size-20;
  }
}
