@import '../../../../../styles/variables';

@media only screen and (max-width: 750px) {
  .textfield-input {
    width: 130px;
    padding: 0 5px;
    border: none;
    border-bottom: 3px solid $bilog-blue-light;
    height: auto;
    opacity: 1;
    font-family: $bilog-font-family;
    font-size: $font-size-22;
    font-weight: $fw-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $bilog-black;
    cursor: pointer;
  }
}

@media only screen and (min-width: 751px) {
  .textfield-input {
    max-width: 150px;
    padding: 0 5px;
    margin: 25px 0;
    border: none;
    border-bottom: 3px solid $bilog-blue-light;
    height: 35px;
    opacity: 1;
    font-family: $bilog-font-family;
    font-size: $font-size-20;
    font-weight: $fw-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $bilog-black;
    cursor: pointer;
  }
}