.product-card {
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 30px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-content {
    .title {
      font-weight: 600;
      font-size: 24px;
      margin: 20px 0 0;
    }

    .copy {
      color: rgb(0, 118, 255);
      text-transform: uppercase;
      font-size: 11px;
    }

    .text {
      font-weight: 500;
      font-size: 14px;
      margin: 20px 0 0;
    }
  }
}
