button {
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  margin: 20px 0 0;
  padding: 0px 25px;
  outline: none;
  font-size: 12px;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease 0s;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 0;
  box-shadow: rgb(0 0 0 / 12%) 0px 5px 10px;

  &.full-width {
    width: 100%;
    margin: 20px auto;
    
  }

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
  }
  
  &:hover {
    transform: translateY(-5px);

    &.primary {
      background: rgb(24, 136, 255);
    }
  }

  &.primary {
    color: rgb(255, 255, 255);
    background: rgb(0, 122, 255);
    border: 1px solid rgb(0, 122, 255);
  }

  &.seconday {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
  }

  &.terciary {
    color: #4b87ef;
    background: #fff;
    border: 1px solid #007aff;
  }

  &.suscription-button {
    width: 100%;
    margin: 20px 0 0;
  }
}
