@import '../../../../../styles/variables';

// MOBILE
@media (min-width: 320px) and (max-width: 767px) {
  .menu-desktop-items {
    display: none;
  }
}

// DESKTOP
@media only screen and (min-width: 768px) {
  .menu-desktop-items {
    margin-right: 20px;
  
    &:last-of-type {
      margin-right: 0 ;
    }
  }
  
  .link {
    margin-right: 15px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    color: $bilog-gray-dark-light;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-block;

    &:hover {
      color: $bilog-blue-medium;
      cursor: pointer;
    }
    .title {
      cursor: pointer;
      display: inline-block;
    }
    .special {
      color: $bilog-blue;
    }
  }
}