$footer-light-bg: #fafafa;
$footer-light-order: 1px solid #eaeaea;

/* STYLES FOR MOBILE */
@media only screen and (max-width: 750px) {
  .footer.light {
    background: $footer-light-bg;
    border-top: $footer-light-order;
  }
  .footer--links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrapper {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
  }
  .wrapper--text {
    margin: 0 30px;
  }
  .copyright {
    color: #999999;
    font-size: 12px;
  }
  .logo {
    height: 25px;
    width: auto;
  }
}

/* STYLES FOR DESKTOP */
@media only screen and (min-width: 751px) {
  .footer {
    background: #000;
    border-top: 1px solid #333;

    &.light {
      background: $footer-light-bg;
      border-top: $footer-light-order;
    }

    .wrapper {
      max-width: 1024px;
      margin: 0 auto;
      padding: 60px 0;
      display: flex;
      justify-content: space-between;

      &--text {
        margin: 0 50px;
      }

      .copyright {
        text-align: right;
        color: $bilog-gray;
        font-size: 12px;
      }

      .logo {
        height: 25px;
        width: auto;
      }
    }

    &--links {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

// TABLET
@media only screen and (min-width: 1024px) and (min-height: 1300px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
