@import './FooterWrapper/index.scss';
@import '../../Column/index.scss';

/* STYLES FOR MOBILE */
@media only screen and (max-width: 750px) {
  .footer.light {
    background: #fafafa;
    border-top: 1px solid #eaeaea;
  }
  .footer--links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* STYLES FOR DESKTOP */
@media only screen and (min-width: 751px) {
  .footer--links {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }
  .footer {
    background: #000;
    border-top: 1px solid #333;
  }
  .footer.light {
    background: #fafafa;
    border-top: 1px solid #eaeaea;
  }
}