.versions-page {
  margin: 0;
  padding: 0;

  .addons {
    width: 1200px;
    margin: 80px auto;

    &-title {
      font-size: 42px;
      margin: 80px 0 40px;
      text-align: center;
      font-weight: 300;
      line-height: 32px;
    }

    .items-container {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 40px;

      .addon-item {
        display: grid;
        grid-template-columns: 24px auto;
        grid-column-gap: 18px;

        .text {
          margin: 0;
          padding: 0;
          color: #888;
        }
      }
    }
  }
}
