@import '../../../../../styles/variables';

@media only screen and (max-width: 750px) {
  .checkbox {
    &-container {
      margin: 22px 0;
      height: 30px;

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        outline: none;

        input {
          position: absolute;
          left: -99999px;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $bilog-gray;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;

          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $bilog-white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
        }
        input:checked + .slider {
          background-color: $bilog-blue-light;
        }
        input:focus + .slider {
          box-shadow: 0 0 1px $bilog-blue-light;
        }
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
}

@media only screen and (min-width: 751px) {
  .checkbox {
    &-container {
      margin: 22px 0;
      height: 30px;

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        outline: none;

        input {
          position: absolute;
          top: -99999px;
          left: -99999px;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $bilog-gray;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;

          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $bilog-white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
        }
        input:checked + .slider {
          background-color: $bilog-blue-light;
        }
        input:focus + .slider {
          box-shadow: 0 0 1px $bilog-blue-light;
        }
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
}