@import '../../../../../styles/variables';

@media only screen and (max-width: 750px) {    
    select {
      width: fit-content;
      padding: 0 5px;
      border: none;
      border-bottom: 3px solid $bilog-blue-light;
      min-height: 31px;
      height: auto;
      opacity: 1;
      font-family: $bilog-font-family;
      font-size: $font-size-22;
      font-weight: $fw-bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $bilog-gray-dark;
      cursor: pointer;
    }
}

@media only screen and (min-width: 751px) {
  select {
    margin: 15px 0;
    width: fit-content;
    padding: 0 5px;
    border: none;
    border-bottom: 3px solid $bilog-blue-light;
    min-height: 31px;
    height: auto;
    opacity: 1;
    font-family: $bilog-font-family;
    font-size: $font-size-20;
    font-weight: $fw-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $bilog-gray-dark;
    cursor: pointer;
  }
}