@import "../../../../../styles/variables";

// MOBILE
@media (min-width: 320px) and (max-width: 767px) {
  select {
    padding: 0 5px;
    border: none;
    border-bottom: 2px solid $bilog-blue-light;
    min-height: 31px;
    opacity: 1;
    font-family: $bilog-font-family;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $bilog-gray-dark;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: $font-size-20;
    font-weight: $fw-regular;
  }
}

@media only screen and (min-width: 751px) {
  select {
    margin: 15px 0;
    width: fit-content;
    padding: 0 5px;
    border: none;
    border-bottom: 2px solid $bilog-blue-light;
    min-height: 31px;
    height: auto;
    opacity: 1;
    font-family: $bilog-font-family;
    font-size: $font-size-20;
    font-weight: $fw-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $bilog-gray-dark;
    cursor: pointer;
  }
}
