@import "../../../../styles/variables";

.step {
  &-stats {
    padding: 40px 10px;
    display: flex;

    // MOBILE
    @media (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    button {
      width: 200px;
      margin: 0 15px;

      // MOBILE
      @media (min-width: 320px) and (max-width: 767px) {
        width: auto;
      }
    }
  }
}
