 // MOBILE
 @media (min-width: 320px) and (max-width: 767px) {
  .menu-mobile-items {
    margin-right: 20px;
  
    &:last-of-type {
      margin-right: 0 ;
    }

    .menu-mobile-aside {
      &.closed {
        display: none;
      }

      &.open {
        background-color: #fff;
        left: 0;
        position: absolute;
        z-index: 200;
        top: 91px;
        width: 100%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.16);
        display: flex;
        flex-direction: column;

        .link {
          padding: 16px 20px;
          border-bottom: 1px solid rgb(234,234,234);
          margin: 0;
        }
      }
    }
  }
}

// DESKTOP
@media only screen and (min-width: 768px) {
  .menu-mobile-items {
    display: none;
  }
}