@import "../../Stats/index.scss";
@import "../../../../../styles/variables";

.step {
  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    align-items: flex-start;

    .error {
      color: $bilog-red;
      font-weight: $fw-bold;
    }
  }
}

// MOBILE
@media (min-width: 320px) and (max-width: 767px) {
  .step {
    &-fields {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &-question {
      font-size: $font-size-22;
      font-weight: $fw-bold;
    }
  }
}

@media only screen and (min-width: 768px) {
  .step {
    &-container {
      max-width: 1200px;

      .error {
        margin: 20px 0 0;
      }
    }
    &-fields {
      padding: 60px 20px 0;
      display: flex;
      width: 100%;

      .step-field {
        margin-left: 40px;
      }
    }
    &-question {
      font-size: $font-size-28;
      max-width: 70%;
    }

    &-hint {
      margin: 10px 0 0;
      font-size: 16px;
      font-weight: 100;
      color: $bilog-gray-dark;
    }
  }
}
