@import "../../Stats/index.scss";
@import "../../../../../styles/variables";

.step {
  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    align-items: flex-start;

    .error {
      color: $bilog-red;
      font-weight: $fw-bold;
    }
  }
}

@media only screen and (max-width: 750px) {
  .step {
    &-fields {
      padding: 0 30px;
    }
    &-question {
      font-size: $font-size-22;
      font-weight: $fw-bold;
    }
  }
}

@media only screen and (min-width: 751px) {
  .step {
    &-container {
      max-width: 1200px;

      .error {
        margin-left: 10px;
      }
    }
    &-fields {
      padding: 0 20px;
      display: flex;
      align-items: center;
      width: 100%;
    }
    &-question {
      margin-right: 20px;
      font-size: $font-size-28;
      font-weight: $fw-regular;
    }
  }
}
