@media only screen and (max-width: 750px) {
  .wrapper {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
  }
  .wrapper--text {
    margin: 0 30px;
  }
  .copyright {
    color: #999999;
    font-size: 12px;
  }
  .logo {
    height: 25px;
    width: auto;
  }
}

@media only screen and (min-width: 751px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }
  .wrapper--text {
    margin: 0 50px;
  }
  .copyright {
    text-align: right;
    color: #999999;
    font-size: 12px;
  }
  .logo {
    height: 25px;
    width: auto;
  }
}