@import "../../styles/variables";

.specs-container {
  max-width: 1200px;
  height: 437px;
  padding: 50px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;

  // TABLET
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-column-gap: 50px;
    padding: 50px 40px;
    height: auto;
  }

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    height: auto;
  }

  .copy {
    font-size: $copy-fs;
    text-transform: uppercase;
    color: #666;
  }

  .specs {
    &-details {
      .description {
        font-size: 19px;
        line-height: 29px;
        font-weight: 100;
      }
    }

    &-price {
      padding: 30px;
      box-shadow: $box-shadow;
      border-radius: $border-radius;

      .detached-prices {
        display: flex;

        // TABLET
        @media (min-width: 768px) and (max-width: 1023px) {
          flex-direction: column;
        }

        // IPAD PRO
        @media (min-width: 1024px) and (max-width: 1366px) {
          flex-direction: row;
        }

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          flex-direction: column;
        }
      }

      .price-wrapper {
        margin: 0 30px 20px 0;
        padding-right: 30px;
        border-right: 1px solid #ddd;

        // TABLET
        @media (min-width: 768px) and (max-width: 1023px) {
          padding: 0 0 20px 0;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          padding: 0 0 20px 0;
          margin: 0 0 15px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        &:last-of-type {
          margin: 0;
          border: none;
        }
        .price-value {
          font-size: 35px;
          font-weight: 600;
          margin: 0;
          color: #666;
          display: flex;
          align-items: baseline;

          .tooltip {
            display: inline-block;
            position: relative;
            cursor: pointer;

            &:hover .tooltip-text {
              opacity: 1;
            }

            &-text {
              opacity: 0;
              position: absolute;
              transform: translateX(50%);
              right: 50%;
              width: 300px;
              background-color: #fff;
              font-size: 14px;
              box-shadow: 0 10px 30px -10px rgb(50 50 93 / 25%),
                0 10px 30px -15px rgb(0 0 0 / 30%);
              border-radius: $border-radius;
              padding: 10px;
              transition: all 0.2s ease-in;

              // TABLET
              @media (min-width: 768px) and (max-width: 1024px) {
                width: 200px;
              }

              p {
                margin: 0;
                padding: 0;
                line-height: 1.3em;
                text-align: center;
              }
            }
          }

          .small {
            color: $small;
          }

          .smallpre {
            color: $smallpremium;
          }

          .standard {
            color: $standard;
          }

          .full {
            color: $full;
          }

          .decimals {
            font-size: 25px;
            font-weight: 100;
            color: #bbb;
          }
        }
      }

      .video {
        margin-top: 20px;
        &-title {
          font-weight: 500;
          font-size: $h3-fs;
          margin: 8px 0;
          color: $bilog-blue;
        }

        &-text {
          font-weight: 400;
          font-size: $p-fs;
          line-height: 28px;
          margin: 0;
          color: #666;
        }

        &-button {
          display: flex;
        }
      }

      // TABLET
      @media (min-width: 768px) and (max-width: 1024px) {
        iframe {
          min-height: 300px;
        }
      }
    }
  }
}
