@import "../../styles/variables";

.specs-container {
  width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;

  .copy {
    font-size: $copy-fs;
    text-transform: uppercase;
    color: #666;
  }

  .specs {
    &-details {
      ul {
        list-style: none;
        padding: 0;
        li {
          font-size: $p-fs;
          display: flex;
          margin-bottom: 11px;
          line-height: 28px;

          .list-icon {
            display: inline-block;
            margin: 3px 18px 0 0;
            flex-grow: 0;
            flex-shrink: 0;
            -ms-flex-positive: 0;
            -ms-flex-negative: 0;
          }
        }
      }
    }

    &-price {
      padding: 30px;
      box-shadow: $box-shadow;
      border-radius: $border-radius;

      .detached-prices {
        display: flex;
      }

      .price-wrapper {
        margin: 0 30px 20px 0;
        padding-right: 30px;
        border-right: 2px solid #ddd;

        &:last-of-type {
          margin: 0;
          border: none;
        }
        .price-value {
          font-size: 35px;
          font-weight: 600;
          margin: 0;
          color: #666;
          display: flex;
          align-items: baseline;

          .tooltip {
            display: inline-block;
            position: relative;
            cursor: pointer;

            &:hover .tooltip-text {
              opacity: 1;
            }

            &-text {
              opacity: 0;
              position: absolute;
              transform: translateX(50%);
              right: 50%;
              width: 300px;
              background-color: #fff;
              font-size: 14px;
              box-shadow: 0 10px 30px -10px rgb(50 50 93 / 25%),
                0 10px 30px -15px rgb(0 0 0 / 30%);
              border-radius: $border-radius;
              padding: 10px;
              transition: all 0.2s ease-in;

              p {
                margin: 0;
                padding: 0;
                line-height: 1.3em;
                text-align: center;
              }
            }
          }

          .small {
            color: $small;
          }

          .smallpremium {
            color: $smallpremium;
          }

          .standard {
            color: $standard;
          }

          .full {
            color: $full;
          }

          .decimals {
            font-size: 25px;
            font-weight: 100;
            color: #bbb;
          }
        }
      }

      .video {
        margin-top: 20px;
        &-title {
          font-weight: 500;
          font-size: $h3-fs;
          margin: 8px 0;
          color: $bilog-blue;
        }

        &-text {
          font-weight: 400;
          font-size: $p-fs;
          line-height: 28px;
          margin: 0;
          color: #666;
        }

        &-button {
          display: flex;
        }
      }
    }
  }
}
