@import "../../styles/variables";

/* STYLES FOR MOBILE */
@media only screen and (max-width: 750px) {
  .bannerCta--container {
    background-color: $bilog-white;
  }
  .bannerCta--content {
    padding: 40px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .bannerCta--title {
    font-size: $font-size-26;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    padding: 10px 0 30px;
  }
  .bannerCta--buttons {
    width: 100%;
  }
}

/* STYLES FOR DESKTOP */
@media only screen and (min-width: 751px) {
  .bannerCta--container {
    background-color: $bilog-white;
  }
  .bannerCta--content {
    padding: 50px 0;
    height: 150px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bannerCta--title {
    font-size: $font-size-24;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 0;
    max-width: 600px;
  }
}