@media only screen and (max-width: 750px) {
  .bannerCta--container {
    background: linear-gradient(to right,#4C7ABD,#2F3F94);
    
    .bannerCta--content {
      padding: 50px 30px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .bannerCta--title {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.1;
        margin: 0;
        padding: 10px 0 30px;
        color: #fff;
      }
      .bannerCta--buttons {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 751px) {
  .bannerCta--container {
    background: linear-gradient(to right,#4C7ABD,#2F3F94);

    .bannerCta--content {
      padding: 50px 0;
      height: 250px;
      max-width: 1024px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: auto;
      
      .bannerCta--title {
        font-size: 36px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        color: #fff;
        max-width: 600px;
      }
    }
  }
}