@import "../../styles/variables";

.cover-split {
  width: 100%;
  background: #f6f9ff;
  background: linear-gradient(
    90deg,
    #f6f9ff 58%,
    rgba(60, 93, 170, 1) 58%,
    rgba(60, 93, 170, 1) 100%
  );
  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    background: $bilog-white;
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;

    // MOBILE
    @media (min-width: 320px) and (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    .content {
      .annotation {
        .copy {
          color: $bilog-gray;
          font-weight: $fw-light;
          margin: 0 0 6px 0;
        }

        .title {
          font-size: 44px;
          margin-bottom: 24px;
        }
      }

      &.left {
        padding: 60px 60px 60px 0;

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          padding: 20px 40px;
        }

        .annotation {
          .copy,
          .title {
            color: $bilog-blue;
          }

          .title {
            // IPAD PRO
            @media (min-width: 1024px) and (max-width: 1366px) {
              font-size: 40px;
            }

            // TABLET
            @media (min-width: 768px) and (max-width: 1023px) {
              font-size: 36px;
            }
            // MOBILE
            @media (min-width: 320px) and (max-width: 767px) {
              font-size: 32px;
              line-height: 1.4;
            }
          }
          .copy {
            font-size: 32px;

            // IPAD PRO
            @media (min-width: 1024px) and (max-width: 1366px) {
              font-size: 24px;
            }
            // TABLET
            @media (min-width: 768px) and (max-width: 1023px) {
              font-size: 28px;
            }
            // MOBILE
            @media (min-width: 320px) and (max-width: 767px) {
              font-size: 20px;
              line-height: 1.4;
            }
          }
        }
      }

      &.right {
        background: rgb(75, 135, 239);
        background: linear-gradient(
          90deg,
          rgba(75, 135, 239, 1) 0%,
          rgba(60, 93, 170, 1) 100%
        );
        border-bottom-left-radius: 60px;
        padding: 60px 0 60px 60px;

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          padding: 20px 40px;
        }

        // TABLET
        @media (min-width: 768px) and (max-width: 1023px) {
          padding: 30px 10px 30px 40px;
        }

        // IPAD PRO
        @media (min-width: 1024px) and (max-width: 1366px) {
          padding: 30px 20px 30px 50px;
        }

        .annotation {
          .copy {
            font-size: 24px;
            margin-bottom: 32px;
            font-weight: $fw-bold;
            color: $bilog-white;

            // MOBILE
            @media (min-width: 320px) and (max-width: 767px) {
              margin: 0;
              font-size: 20px;
              font-weight: $fw-regular;
            }
          }

          .subtitle {
            color: $bilog-white;
            font-size: 32px;

            // MOBILE
            @media (min-width: 320px) and (max-width: 767px) {
              font-size: 28px;
              margin: 30px 0;
            }
          }
        }
      }

      &.left,
      &.right {
        // IPAD PRO
        @media (min-width: 1024px) and (max-width: 1366px) {
          padding: 60px;
        }

        // TABLET
        @media (min-width: 768px) and (max-width: 1023px) {
          padding: 60px;
        }

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          padding: 40px 20px;
        }
      }

      .title {
        font-size: $font-size-40;
      }

      .copy {
        color: $bilog-gray-dark;
        font-size: $font-size-20;
        line-height: 1.5;
        font-weight: $fw-light;
      }
    }
  }
}
