@import "../../styles/variables";

.cover-split {
  &--wrapper {
    width: 100%;
    background: rgb(231,237,252);
    background: linear-gradient(90deg, rgba(231,237,252,1) 58%, rgba(60,93,170,1) 58%, rgba(60,93,170,1) 100%);

    // MOBILE
    @media (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      background: $bilog-white;
    }
  }

  &--container {
    // DESKTOP
    @media only screen and (min-width: 1366px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 250px;
      max-width: 1200px;
      margin: 0 auto;
    }

    // IPAD PRO
    @media (min-width: 1024px) and (max-width: 1366px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 250px;
      max-width: 1200px;
      margin: 0 auto;
    }

    // TABLET
    @media (min-width: 768px) and (max-width: 1023px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 250px;
      max-width: 1200px;
      margin: 0 auto;
    }

    // MOBILE
    @media (min-width: 320px) and (max-width: 767px) {
      display: grid;
      min-height: 250px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .left-content {
      height: 100%;
      background: $bilog-gray-blue-light;
      padding: 30px 60px;

      // MOBILE
      @media (min-width: 320px) and (max-width: 767px) {
        padding: 20px 40px;
      }

      .left-title {
        color: $bilog-black;
        font-size: $font-size-40;
        line-height: 1;
        font-weight: $fw-bold;
        text-align: left;
      }

      .left-copy {
        color: $bilog-gray-dark;
        font-size: $font-size-20;
        line-height: 1.5;
        font-weight: $fw-light;
        text-align: left;
      }
    }

    .right-content {
      height: 100%;
      background: rgb(75,135,239);
      background: linear-gradient(90deg, rgba(75,135,239,1) 0%, rgba(60,93,170,1) 100%);
      border-bottom-left-radius: 60px;
      padding: 30px 60px;

      // MOBILE
      @media (min-width: 320px) and (max-width: 767px) {
        border-bottom-right-radius: 60px;
        padding: 20px 40px;
      }

      .right-title {
        color: $bilog-black;
        font-size: $font-size-40;
        line-height: 1;
        font-weight: $fw-bold;
        text-align: left;
        margin-bottom: 45px;

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}