.pricing {
  & ~ .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media only screen and (max-width: 750px) {
    & ~ .footer {
      position: static;
    }

    .subtitle {
      font-size: 24px;
    }
  }
}
