@media only screen and (max-width: 750px) {
  .feature {
    &--title {
      font-size: 28px;
      text-align: left;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 24px;
    }
    &--subtitle {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 24px;
      padding: 0;
    }
  }
  .text-align-center {
    .feature--title {
      text-align: center;
    }
    .feature--subtitle {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  :global(.feature-section.color-background .feature--subtitle) {
    color: #666;
  }
}

@media only screen and (min-width: 751px) {
  .feature {
    &--title {
      font-size: 40px;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 24px;
    }
    &--subtitle {
      font-weight: 300;
      color: #505656;
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 30px;
      padding: 0 1.5rem;
    }
  }
  .text-align-center {
    .feature--title {
      text-align: center;
    }
    .feature--subtitle {
      text-align: center;
    }
  }
  :global(.feature-section.color-background .feature--subtitle) {
    color: #666;
  }
}