@import "../../styles/variables";

.addons {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;

  &-header {
    margin: 0 0 60px;
    text-align: center;

    .copy {
      margin: 0;
      font-size: 19px;
      color: $bilog-gray;
      font-weight: 300;
    }
  }

  .items-container {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    .addon-item {
      display: grid;
      grid-template-columns: 24px auto;
      grid-column-gap: 18px;

      .text {
        margin: 0;
        padding: 0;
        color: #888;
      }
    }
  }

  .addon,
  .alwayson-addon {
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 40px;
  }

  .addon {
    &-container {
      display: flex;
      .icon {
        margin-right: 20px;
      }
      .title {
        font-weight: 600;
        line-height: 28px;
        color: $bilog-blue;
        font-size: 21px;
        line-height: 32px;
        text-transform: uppercase;
      }
    }

    &-description {
      margin: 8px 0;
      font-weight: 400;
      font-size: $h3-fs;
      line-height: 28px;
      color: #525f7f;
    }

    &-content {
      display: flex;
      flex-direction: row;

      .pricing-container {
        padding: 16px 0 16px 28px;
        margin: 0 0 0 20px;
        width: 230px;
        border-left: 1px solid #eee;
        flex: content;
        flex-direction: column;

        p {
          margin: 0;
        }

        .annotation {
          font-size: 24px;
          color: #24b47e;
          display: block;
          position: relative;
        }
      }
    }

    & + .addon {
      margin: 40px 0 0;
    }
  }

  .alwayson-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px;
  }

  .alwayson-addon {
    padding: 0;

    .wrapper {
      padding: 40px;
    }

    .addon-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: baseline;

      .disclaimer {
        margin-bottom: 5px;
      }

      .actions {
        display: flex;
        align-items: center;

        .arrow-container {
          width: 22px;
          height: 22px;

          .icon {
            opacity: 0.8;
            transition: opacity 0.2s ease;
            &:hover {
              opacity: 1;
              cursor: pointer;
            }
          }
        }

        .selection {
          min-width: 98px;
          text-align: center;
          font-size: 40px;
          font-weight: 100;
          margin: 0 20px;
          padding: 0;
          color: $bilog-gray-dark;
        }
      }
      .pricing-container {
        margin: 0;
        border-left: 1px solid #eee;
        flex: content;
        flex-direction: column;

        .annotation {
          font-size: 40px;
          color: $bilog-gray;

          &.selected {
            color: #24b47e;
          }
        }
      }
    }

    .suscribe-container {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #f6f9fc;
      color: $bilog-blue;
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      transition: background-color 0.2s ease-in;

      &:hover {
        background-color: #eee;
        cursor: pointer;
      }

      p {
        margin: 0;
      }
    }
  }
}
