.estimate {
  width: 100%;
  margin-top: 120px;
  padding: 60px 0;
  background-color: #0c2e4f;
  text-align: center;
  color: $bilog-white;

  // TABLET
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 60px 40px;
  }

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 40px;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;

    .text {
      font-size: 20px;
      font-weight: 100;
      line-height: 1.5;
      margin: 20px 0 30px;
    }

    .discover {
      margin: 0 auto;
    }

    .statistics {
      margin: 60px 0;
      text-align: left;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px 40px;
      grid-column-gap: 40px;

      // MOBILE
      @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: 1fr;
        margin: 30px 0 60px;
      }

      .number,
      .disclaimer {
        padding-left: 20px;
      }

      .disclaimer {
        font-size: 15px;
        color: $bilog-white;
      }

      .number {
        color: #0de4e4;
        font-weight: 400;
        font-size: 34px;
        border-left: 1px solid #0de4e4;
      }
    }
  }
}
