.billing {
  width: 100%;
  margin-top: 100px;
  padding: 40px 0;
  background-color: #0c2e4f;

  // TABLET
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 40px;
  }

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 40px;
  }

  &-wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 80px;
    grid-column-gap: 80px;
    margin: 0 auto;
    padding: 40px 0;

    // TABLET
    @media (min-width: 768px) and (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }

    // MOBILE
    @media (min-width: 320px) and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }

    .content {
      .subtitle {
        color: $bilog-white;
        font-weight: 600;
      }
      .text {
        color: $bilog-gray-light;
        font-size: 20px;
        font-weight: 100;
        line-height: 1.5;
        margin: 20px 0 30px;

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          font-size: 16px;
        }
      }
      .support {
        .text {
          margin-bottom: 12px;
        }
        &-list {
          margin-bottom: 40px;
          &-item {
            display: flex;
            align-items: center;
            margin: 4px 0;
            font-weight: $fw-regular;
            color: #0de4e4;

            .icon {
              margin-right: 8px;
            }
          }
        }
      }
    }

    .detail {
      padding: 20px;
      background-color: #002c59;
      border-radius: 8px;
      border: 1px solid #0f395e;

      // MOBILE
      @media (min-width: 320px) and (max-width: 767px) {
        padding: 10px;
      }

      .copy {
        &_title,
        &_description {
          color: $bilog-white;
          padding: 0;
        }

        &_title {
          font-weight: 600;
          font-size: 20px;
          margin: 0 0 6px;
        }

        &_description {
          font-weight: 300;
          font-size: 16px;
          margin: 0 0 15px;
        }
      }

      .monthly {
        margin-bottom: 20px;
      }

      .total-bill {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid rgba(255, 255, 255, 0.07);
        font-size: 20px;
        display: flex;
        text-transform: uppercase;
        align-items: flex-end;
        justify-content: space-between;

        .price {
          color: #0de4e4;
        }
      }

      .item {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 3px 8px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.07);
        margin-bottom: 5px;

        // MOBILE
        @media (min-width: 320px) and (max-width: 767px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 0 10px;
        }

        &.total {
          margin: 12px 0 0;
          padding: 0;
          border-radius: 0;
          background-color: transparent;
          font-weight: 600;

          .price {
            color: #0de4e4;
          }
        }

        .description {
          color: $bilog-gray-light;

          // MOBILE
          @media (min-width: 320px) and (max-width: 767px) {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }

        .price {
          color: $bilog-white;

          // MOBILE
          @media (min-width: 320px) and (max-width: 767px) {
            grid-column-start: 3;
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
}
