@import "../../../styles/variables";
@import "./Menu/index.scss";

/* STYLES FOR MOBILE */
@media only screen and (max-width: 750px) {
  .header {
    border-bottom: 1px solid rgb(234, 234, 234);
    display: flex;
    width: 100%;
    letter-spacing: 0.2px;

    .logo {
      height: 45px;
      width: auto;
      margin-right: 15px;
    }
  }
  .menu {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &-logo {
      margin-right: 20px;
    }
  }
  .link {
    margin-right: 15px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    color: $bilog-gray-dark-light;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-block;

    .title {
      cursor: pointer;
      display: inline-block;
    }
    .special {
      color: $bilog-blue;
    }
  }
}

/* STYLES FOR DESKTOP */
@media only screen and (min-width: 751px) {
  .header {
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 20px;
    letter-spacing: 0.2px;
    display: flex;
    width: 100%;
    background: $bilog-white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);

    .logo {
      height: 45px;
      width: auto;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .menu {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    align-items: center;
  }
}