/* STYLES FOR MOBILE */
@media only screen and (max-width: 750px) {
  .menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
}

/* STYLES FOR DESKTOP */
@media only screen and (min-width: 751px) {
  .header {
    border-bottom: 1px solid rgb(234, 234, 234);
    padding: 20px;
    letter-spacing: 0.2px;
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);

    .logo {
      height: 45px;
      width: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .menu {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    align-items: center;

    &-item {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0 ;
      }
    }
  }
  .link {
    margin-right: 15px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-block;

    &:hover {
      color: #0090ff;
      cursor: pointer;
    }
    .title {
      cursor: pointer;
      display: inline-block;
    }
    .special {
      color: #0076ff;
    }
  }
}