$bilog-blue: #007aff;

$default: #414042;
$small: #44ace1;
$smallpremium: #3c5daa;
$standard: #4e72b8;
$full: #2c3689;

$box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%),
  0 30px 60px -30px rgb(0 0 0 / 30%);
$border-radius: 8px;

$h3-fs: 19px;
$p-fs: 17px;
$copy-fs: 12px;

$text-color: #777;
