@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import '../pages/pay/index.scss';
@import '../components/index.scss';
@import './variables';

* {
  font-family: $bilog-font-family;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

/* Nav Area */
.top-bar {
  width: 100%;
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.billing-plans {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  .title {
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    margin: 20px 0;
  }

  .copy {
    font-weight: 300;
    color: #505656;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  &--cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 20px;
  }
}
