@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import "../pages/pay/index.scss";
@import "../pages/pricing/index.scss";
@import "../pages/versions/index.scss";
@import "../pages/custom/index.scss";
@import "../components/index.scss";
@import "./variables";

* {
  font-family: $bilog-font-family;
  box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

/* Nav Area */
.top-bar {
  width: 100%;
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.billing-plans {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  .title {
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    margin: 20px 0;
  }

  .copy {
    font-weight: 300;
    color: #505656;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  &--cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;

  // MOBILE
  @media only screen and (max-width: 750px) {
    font-size: 28px;
  }
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

.subtitle {
  font-weight: 300;
  margin: 0 0 8px 0;
}

.title {
  font-size: 42px;
  line-height: 52px;
  font-weight: 600;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}
