@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import "../pages/pay/index.scss";
@import "../pages/pricing/index.scss";
@import "../pages/versions/index.scss";
@import "../pages/success/index.scss";
@import "../components/index.scss";
@import "./variables";

* {
  font-family: $bilog-font-family;
  box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;

  // MOBILE
  @media only screen and (max-width: 750px) {
    font-size: 26px;
  }
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

.subtitle {
  font-weight: 300;
  margin: 0 0 8px 0;

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 28px;
  }
}

.title {
  font-size: 42px;
  line-height: 52px;
  font-weight: $fw-bold;
  margin: 0;

  // MOBILE
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 32px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.disclaimer {
  position: relative;
  color: $bilog-gray;
  font-size: 15px;
  font-weight: 100;
  line-height: 22px;
  display: block;
  margin: 8px 0 0;
}
