@media only screen and (max-width: 750px) {
  .cover--container {
    padding: 50px 30px 0px;
    text-align: left;
    color: #fff;

    &.strech {
      padding: 30px;
      
      .cover--container-paragraph {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: 751px) {
  .cover--container {
    padding: 200px 0;
    text-align: center;
    color: #fff;

    &.strech {
      padding: 100px 0;
    }
    &.lf {
      text-align: left;
      margin: 0 auto;
      box-sizing: border-box;
    }

    .cover--container-paragraph {
      font-size: 22px;
    }
    
    &.no-padding__bottom {
      padding-bottom: 10px;
    }
  }
}